<launch>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
	<!--arg name="unite_imu_method" value="copy"/-->
        <!--arg name="enable_sync" value="true"/-->
        <!--arg name="enable_pointcloud" value="true"/-->
        <arg name="enable_gyro"   value="true"/>
        <arg name="enable_accel"  value="true"/>
        <!--arg name="enable_infra1" value="true"/-->
        <!--arg name="enable_infra2" value="true"/-->
        <arg name="gyro_fps"      value="400"/>
        <arg name="accel_fps"     value="250"/>
	<arg name="depth_width" value="848"/>
	<arg name="depth_height" value="480"/>
	<arg name="color_width" value="848"/>
	<arg name="color_height" value="480"/>
	<arg name="depth_fps" value="30"/>
    	<arg name="color_fps" value="30"/>
  </include>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="_use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu"/>
	<remap from="/imu/data" to="/rtabmap/imu"/>
	<!--param name="/imu/data" type="string" value="/rtabmap/imu"/-->
  </node>

  <include file="$(find ywr_slam)/launch/ywr_modified_rtabmap.launch">
	<arg name="args" value="--delete-db-on-start --Optimizer/GravitySigma 0.3"/>
	<arg name="database_path" value="~/.ros/rtabmap_3.db" />
        <arg name="rgb_topic" value="/camera/color/image_raw"/>
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
        <arg name="camera_info_topic" value="/camera/color/camera_info"/>
        <arg name="depth_camera_info_topic" value="/camera/depth/camera_info"/>
	<arg name="approx_sync" value="false"/>
        <arg name="rtabmapviz" value="false"/>
        <arg name="rviz" value="false"/>
	<!--arg name="wait_imu_to_init" value="true"/-->
	<arg name="imu_topic" value="/imu_data"/>
	<arg name="queue_size" value="100"/>
	<arg name="scan_topic" value="/scan"/>
	<arg name="subscribe_scan" value="true"/>
	<arg name="publish_tf_odom" value="true"/>
	<arg name="visual_odometry" value="true"/>
	<arg name="icp_odometry" value="false"/>
	<arg name="odom_sensor_sync" value="false"/>
        <remap from="grid_map" to="/map"/>
	<!--arg name="localization" value="true"/-->
  </include>


	<!-- Launch node for creating a laserscan from the depth data. -->
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
       <remap from="image"     to="/camera/aligned_depth_to_color/image_raw"/>
       <remap from="camera_info" to="/camera/depth/camera_info"/>
       <remap from="scan" to="/scan"/>
       <param name="range_max" type="double" value="4.0"/>
  </node>

  #<node pkg="ywr_slam" type="occupancyGridRepublisher.py" name="occupancy_grid_updater" output="screen">
        <param name="robot_frame" type="string" value="camera_link"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="camera_to_bot" args="-0.44815 -0.0475 -0.2121 0 0 0 1 camera_link base_link 20" />

</launch>
